@import "tailwindcss";

:root {
  --background: #f4f9ff;
  --foreground: #334e68;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

html, body {
  max-width: 100vw;
  overflow-x: hidden;
  position: relative;
  margin: 0;
  padding: 0;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

main {
  width: 100%;
  overflow-x: hidden;
}